.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(57, 10, 10, 0.497); /* Slightly transparent background */
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-out, visibility 1s ease-out;
}

.preloader-logo {
  width: 60vw; /* Adjust as needed */
  max-width: 300px; /* Ensure it doesn't get too large */
  margin-bottom: 20px; /* Space between logo and button */
  animation: zoomIn 2s ease-out forwards;
  filter: drop-shadow(rgb(112, 111, 111) 0px 10px 12px) 
          drop-shadow(rgba(113, 112, 112, 0.827) 0px -3px 5px) 
          drop-shadow(rgba(129, 127, 127, 0.536) 0px 1px 1px) 
          drop-shadow(rgba(131, 131, 131, 0.337) 0px 2px 3px) 
          drop-shadow(rgba(0, 0, 0, 0.09) 0px -1px 1px); /* Shadow effect */
  border-radius: 50%; /* Ensure the logo is circular */
}

.corner-image {
  position: absolute;
  width: 30vw; /* Adjust size as needed */
  max-width: 400px; /* Ensure it doesn't get too large */
  height: auto;
}

.top-left {
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.enter-home-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #ff3c0e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enter-home-button:hover {
  background-color: #d32f2f;
}

.enter-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #080808;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5) translateZ(50px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateZ(100px);
    opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .preloader-logo {
    width: 50vw;
    max-width: 200px;
  }

  .corner-image {
    width: 25vw;
    max-width: 300px;
  }

  .enter-home-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .preloader-logo {
    width: 40vw;
    max-width: 150px;
  }

  .corner-image {
    width: 20vw;
    max-width: 200px;
  }

  .enter-home-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}
