.seasons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.season-item {
  position: relative;
  transform: translateY(-280px);
  width: 100vw; /* Full width of the viewport */
  height: auto; /* Allow height to be determined by the image */
}

.season-item img {
  width: 100%; /* Full width of the viewport */
  height: auto; /* Maintain aspect ratio, allowing height to extend beyond viewport */
  display: block; /* Ensures the image is displayed as a block element */
}


/* Define background images for each season */
.season1 img {
  content: url('../images/seasons/unwavering_resolve.jpg');
}

.season2 img {
  content: url('../images/seasons/entertainment_district.jpg');
}

.season3 img {
  content: url('../images/seasons/swordsmith_village.jpg');
}

.season4 img {
  content: url('../images/seasons/hashira_training.jpg');
}