.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

main {
  padding: 20px;
}

h2 {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
